html, body {
    font-size: 20px;
    font-size: 100%;
}

header {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #444;
}

header nav {
    margin: 0 auto;
    width: 60%;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0 !important;
}

header nav ul li:first-child {
    border-bottom: 4px solid #f8f8f8;
}

header nav ul li:first-child > a {
    color: #ff5252!important;
}

header nav ul li a {
    color: #71E4FE;
    padding: 18px 15px;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-size: 110%;
    display: block;
}

#portfolio-wrapper-header {
    height: 100vh;
    background: #444;
}

#portfolio-wrapper-header #avatar {
    position: absolute;
    top: 100%;
    left: 35%;
    height: 45%;
    transform: translate(-35%, -100%);
}

#portfolio-wrapper-header #content-wrapper {
    position: absolute; 
    top: 0; 
    left: 50%; 
    height: 100vh; 
    width: 100%;
    transform: translate(-50%, -0%);
}

#portfolio-wrapper-header #content-wrapper #content {
    position: absolute; 
    z-index: 10; 
    top: 50%; 
    left: 10%; 
    transform: translate(-10%, -50%); 
    font-family: 'Cute Font', cursive
}

#portfolio-wrapper-header #content-wrapper #content #intro-text {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 400%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #f8f8f8;
}

#portfolio-wrapper-header #explore-profile {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-90%, -50%);
    padding: 10px 25px;
    background: rgba(0, 122, 204, 0.8);
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    text-transform: uppercase;
    box-shadow: 4px 3px 0px 0px #333;
}

.typed-cursor {
    display: none !important;
}

#portfolio-wrapper-header #content-wrapper #content  #content-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    display: inline;
    padding: 5px;
    color: #ff5252!important;
}

/*About*/
#portfolio-wrapper-about {
    background: #444; 
}

#portfolio-wrapper-about #about-text {
    display: flex; 
    margin-top: 20px; 
    text-align: justify
}

/*Experience*/

#portfolio-wrapper-work-experience {
    color: #333;
}

#portfolio-wrapper-work-experience .location, #portfolio-wrapper-work-experience .date {
    display: block;
}

.sections {
    position: relative; 
    padding: 100px 0px; 
    color: #f8f8f8
}

.section-header {
    font-family: 'Bebas Neue', cursive;
}
@media only screen and (max-width: 877px) {
    #portfolio-wrapper-header #content #intro-text {
        font-size: 500%;
    }
}

